body{
    background-color: #F7BC7D;
    content: "";
    background: url(/siteImages/Cover/ingredients-498199_1920.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
